---
import MainLayout from "../layouts/MainLayout.astro";
import ProjectSection from "../components/ProjectSection.astro";

const posts_academic = Object.values(import.meta.glob("./posts/academic/*.mdx", {eager: true}));
const posts_personal = Object.values(import.meta.glob("./posts/personal/*.mdx", {eager: true}));

export type Post = {
	url: string;
	frontmatter: {
		title: string;
		date: string;
		description: string;
		tags: string[];
		image: string;
	}
}
---
<MainLayout>
	<header>
		<div />
		<nav>
			<ul>
				<a href="/">About</a>
				<a href="/">Projects</a>
			</ul>
		</nav>
	</header>

	<div class="about">
		<div class="profile">
			<img src="deniz.png" alt="Deniz Terzioglu" />
			<h1>Deniz Terzioglu</h1>
		</div>
		<p>
			I’m a developer with a background in biomedical engineering who enjoys building tools that make complex workflows simpler. 
			I work mainly with <strong>TypeScript</strong>, <strong>React</strong>, and <strong>Python</strong>, and I care about writing code that’s <strong>maintainable</strong> and easy for others to build on.
		</p>
		<p>
			My interdisciplinary academic background has taught me how to learn quickly and adapt across fields. 
			I am passionate about solving problems through software and continuously improving my skills to create tools that real people will benefit from.
		</p>
	</div>

	<ProjectSection title="Personal Projects" posts={posts_personal} />
	<ProjectSection title="Academic Projects" posts={posts_academic} />
</MainLayout>

<style>
	header {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.profile img {
		height: 300px;
		border-radius: 10px;
	}

</style>