---
import MainLayout from "../layouts/MainLayout.astro";
import ProjectSection from "../components/ProjectSection.astro";
import Typewriter from "astro-typewriter";

import { Image } from 'astro:assets';
import profile_pic from "../../public/deniz.png"

const posts_academic = Object.values(import.meta.glob("./posts/academic/*.md", {eager: true}));
const posts_personal = Object.values(import.meta.glob("./posts/personal/*.md", {eager: true}));

---
<MainLayout>

	<div class="about">
		<div class="profile">
			<Image src={profile_pic} alt="Deniz Terzioglu" width={200} height={200} />
			<div>
				<Typewriter
					messages={["Hi, I'm Deniz"]}
					waitWritten={9**9}
					writeSpeed={150}
					style="font-weight: bold; font-size: 3em"
				/>
				<p style="font-size: 1.2em; margin-bottom: 40px">
					I’m a software engineer with a background in biomedical engineering who enjoys building tools that make complex workflows simpler. 
					I work mainly with <strong>TypeScript</strong>, <strong>React</strong>, and <strong>Python</strong>, and I care about writing code that’s <strong>maintainable</strong> and easy for others to build on.
				</p>
				<a class="about-me-button" href="/about">
					More about me ⇛
				</a>	
			</div>
			
		</div>
	</div>

	<section id="projects">
		<ProjectSection title="Current Projects" posts={posts_personal} />
		<ProjectSection title="Academic Work" posts={posts_academic} />
	</section>
	
</MainLayout>

<style>
	body {
		margin: 1% 12%;
	}

	.about {
		margin: 170px 0 200px 0;
	}

	.profile {
		display: flex;
		align-items: center;
		gap: 60px;
		margin: 70px;
	}

	.profile img {
		border-radius: 10px;
		flex-shrink: 0;
	}

	@media (max-width: 1000px) {
		body {
			margin: 1% 5%
		}

		.profile {
			flex-direction: column;
			text-align: center;
			gap: 20px;
		}

		.profile h1 {
			font-size: 2rem;
		}
	}
</style>