---
import Card from "./ProjectCard.astro";
import type { Post } from "../utils/types";

export type Props = {
    title: string;
    posts: any[];
}

const { title, posts } = Astro.props;
---

<h2>{title}</h2>
<ul>
    {posts.map((i) => {
        const post = i as Post;
        return (
            <Card {...post}/>
        );
    })}
</ul>

<style>
    ul {
        padding-left: 0;
        margin-left: 0;
    }
</style>