---
import { ClientRouter } from "astro:transitions";

const { title } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<ClientRouter />
	</head>
	<body>
		<header>
			<a href="/"><strong>Deniz Terzioglu</strong></a>
			<nav>
				<ul>
					<a href="/">About</a>
					<a href="/">Projects</a>
				</ul>
			</nav>
		</header>
		
		<main>
			<slot />
		</main>

		<footer>
			© {new Date().getFullYear()} Deniz Terzioglu
		</footer>
	</body>
</html>

<style>
	@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

	body {
		font-family: "Lora", serif;
		background-color: #fef3eb;
		color: black;
		margin: 1% 15%
	}

	header {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

</style>