---
import { ClientRouter } from "astro:transitions";

const { title } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<ClientRouter />
	</head>
	<body>
		<header>
			<a class="un" href="/"><strong>Deniz Terzioglu</strong></a>
			<nav>
				<ul>
					<a class="un" href="/#projects">Projects</a>
				</ul>
			</nav>
		</header>
		
		<main>
			<slot />
		</main>

		<footer>
			© {new Date().getFullYear()} Deniz Terzioglu
		</footer>
	</body>
</html>

<style>
	@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

	body {
		font-family: "Lora", serif;
		background-color: #f6f3f1;
		color: black;
		margin: 1% 15%
	}

	header {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	a {
		color: #000000;
		text-decoration: none;
		margin-left: 20px;
		font-size: large;
		font-weight: bold;
		transition: 0.7s;
	}

	.un {
		transition: 0.7s;
		border-bottom: 2px solid transparent;
	}

	.un:hover {
		transition: 0.2s;
		border-color: black;
	}

	html {
		scroll-behavior: smooth;
	}

</style>